@import "../../styles/variables";
@import "../../styles/extentions";

.editableInput {
  display: block;
  outline: none;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: 2px solid $color-borderLight;
  border-radius: 8px;
  max-width: 112px;
  font-size: 20px;
  padding: 12px 16px;
  font-family: 'Inter', sans-serif;
  transition: all 0.25s;
  margin-top: 12px;

  &.isInvalid {
    border-color: red;
  }

  &:hover {
    background-color: rgba($color-black, 0.1);
  }

  &:focus {
    background-color: rgba($color-black, 0.2);

  }



  &__container {
    position: relative;
    height: 100%;

    span {
      @extend %bg;
      content: '';
      opacity: 0;
      user-select: none;
      position: absolute;
      bottom: 16px;
      left: 72px;
      width: 24px;
      height: 24px;
      background-image: url('../../assets/icons/pen.svg');

    }

    &:hover {
      span {
        opacity: 1;
        transition: opacity 0.3s;
      }
      &.active {
        span {
          opacity: 0;
        }
      }
    }
  }

  &__btnBlock {
    position: absolute;
    left: 0;
    bottom: -36px;
    display: flex;
    justify-content: space-between;
    width: 112px;
  }

  &__btn {
    @extend %bg;
    outline: none;
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;

    &:disabled {
      filter: grayscale(1);
    }
    
    &-approve {
      background-image: url('../../assets/icons/done.svg');
    }
    &-cancel {
      background-image: url('../../assets/icons/cancel.svg');
    }
  }
}

  //return /^-?\\d/.test(value);
