$color-white: #F4F4F4;
$color-grey: #616267;
$color-black: #000000;


$breakpoints: (
        xxs: 360px,
        xs: 375px,
        sm: 414px,
        md: 768px,
        lg: 992px,
        xl: 1366px,
        xxl: 1920px,
);
