@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-size: 14px;
  color: $color-white;
  font-family: 'Inter', sans-serif;
  background-color: $color-black;

  @include breakpoint-min(sm) {
    font-size: 16px;
    //height: 100vh;
    //overflow: hidden;
  }
}

#root, #root > div {
  height: 100%;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  color: $color-whiteTitle;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

.basicLayout {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.simpleInput {
  outline: none;
  border: 2px solid $color-borderLight;
  max-width: 112px;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  padding: 12px 16px;
  font-size: 20px;

  &.isInvalid {
    border-color: red;
  }

  &::placeholder {
    //font-size: 12px;
  }
}
