@import "../styles/extentions";
@import "../styles/mixins";

.errorPage {
  @extend %bg;
  position: relative;

  min-height: calc(100vh - 200px);
  height: calc(100vh - 200px);
  background-image: url('../assets/images/error-bg.png');

  &__container {
    margin: 0 auto;
    max-width: 50%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 48px;
    margin-bottom: 24px;

    @include breakpoint-min(sm) {
      font-size: 80px;
    }
  }

  p+p {
    margin-top: 8px;
  }



  &__semiTitle {
    font-size: 18px;
    max-width: 250px;
  }
}
